.button {
  background-color: #4056a1;
  font-family: "Bungee", cursive;
  cursor: pointer;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
}

.button:hover {
  -webkit-box-shadow: 8px 6px 0px 1px #5540a1;
  box-shadow: 4px 4px 0px 1px #5540a1;
  transition: box-shadow 0.2s ease-in-out;
}

.counter {
  font-family: "Bungee", cursive;
}

.input {
  font-family: "Source Sans Pro", sans-serif;
}

.tweet-count {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#tweet-text {
  width: 100%;
  border: none;
  background: none;
  resize: none;
  border-bottom: 3px solid black;
  height: 30px;
  outline: none;
}
